.contenedor {
    height: 30rem;
    width: 100%;
    margin-top: -42px;
    position: relative;
    display: flex;
    /* background: linear-gradient(to bottom, #89e0fa, #d4fff6); */
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 8.67%, 4.00% 8.36%, 8.00% 7.49%, 12.00% 6.18%, 16.00% 4.61%, 20.00% 2.99%, 24.00% 1.57%, 28.00% 0.54%, 32.00% 0.03%, 36.00% 0.14%, 40.00% 0.83%, 44.00% 2.01%, 48.00% 3.52%, 52.00% 5.15%, 56.00% 6.66%, 60.00% 7.84%, 64.00% 8.53%, 68.00% 8.63%, 72.00% 8.13%, 76.00% 7.10%, 80.00% 5.67%, 84.00% 4.06%, 88.00% 2.49%, 92.00% 1.17%, 96.00% 0.30%, 100.00% 0.00%);
}

.img{
height: 50%;

}

.boton{
    /* z-index: 1; */
    background: yellow;
    /* width: min-content; */
    /* padding: ; */
}